* {
    font-family: 'Poppins', sans-serif;
}

/*Home Page*/
.navbar {
    background-color:rgb(65,1,121)
}

.btn-primary {
    background-color: rgb(255,167,33)
}

.row-top-border {
    border-top-style: solid;
}

.partner-images {
    height:auto;
    max-width: 15%;
    white-space: nowrap;
    
    
}
.partner-images img{
    padding-right: 20%;
}

.cust-footer{
    background-color:rgb(65,1,121) ;
    color: white;
}

footer p {
    margin: 5px;
}

/*Events Page*/

#button {
    background-color:#FFA722; 
    float:right; 
}

.card {
    border-style:solid;
    border-color:black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }